html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #707589;
}
p {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}

fieldset {
	border: 3px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}

label {
	display: block;
}

textarea {
	margin: 1rem;
	padding: 5rem;
}

input :not([type="radio"]) {
	display: block;
	margin-bottom: 1rem;
	width: 20rem;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}









